.container {
  //   margin: 0;
  //   padding: 0;
  // width: 1200px;
  width: 100%;
  height: 100%;
  .body {
    // width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 2% 16% 0% 15%;
    .body-left {
      width: 30%;
      height: 285px;
      // border: 1px solid red;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .body-right {
      margin-left: 50px;
      width: 70%;

      // border: 1px solid red;
      .title {
        height: 20%;
        // border: 1px solid red;
        text-align: center;
        font-weight: 600;
        font-size: 26px;
      }
      .information {
        height: 70%;
        // border: 1px solid red;
        margin-top: 4%;
      }
    }
  }
  .footer {
    margin-left: 150px;
    // border: 1px solid red;
    margin: 0% 16% 0% 15%;
    position: relative;
    .footer-select {
      margin: 10px 0px;

      display: flex;
      justify-content: end;
      select {
        width: 100px;
        padding: 5px;
      }
    }
    .prev {
      position: absolute;
      left: -59px;
      top: 140px;
      padding: 9px 5px;
      border: 1px solid grey;
      border-radius: 50%;
    }
    .footer-list {
      display: flex;
      flex-direction: row;

      // height: 100vh;
      overflow: hidden;

      .list {
        display: flex;

        // grid: 27px;
        width: 100%;
        .item {
          height: 230px;
          width: 100%;
          margin-right: 15px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .list:last-child {
        margin-right: -15px;
      }
    }
    .next {
      position: absolute;
      right: -60px;
      top: 140px;
      padding: 10px 5px;
      border: 1px solid grey;
      border-radius: 50%;
    }
  }
}
@media screen and (max-width: 992px) {
  .container {
    .body-right {
      font-size: 13px;
      .title {
        height: 15% !important;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: 500px;
    .body {
      // display: flex;
      // flex-direction: column-reverse;
      margin-top: 20px;
      margin-left: 40px;
      position: relative;
      margin-top: 100px;
      .body-left {
        width: 50%;
        height: 300px;
        // margin-left: 13px;
        img {
          width: 100%;
        }
      }
      .body-right {
        margin-left: 0px;
        width: 50%;
        .title {
          position: absolute;
          left: 100px;
          top: -90px;
        }
        .information {
          .actors {
            // color: red;
            position: absolute;
            left: 15px;
            top: -37px;
          }
        }
      }
    }
    .footer {
      margin-left: 40px;
      width: 73%;
      .footer-select {
        display: flex;
        justify-content: center;
        select {
          width: 90%;
          margin-right: 4px;
        }
      }
      .prev {
        left: -29px;
      }
      .footer-list {
        margin-left: 10px;
        .list {
          padding: 0px 11px;
          .item {
            width: 140px;
            margin-bottom: 10px;
          }
        }
      }
      .next {
        right: -30px;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .container {
    .body {
      flex-direction: column-reverse;
      .body-left {
        width: 100%;
        margin-left: -6px;
        img {
          width: 88%;
        }
      }
      .body-right {
        margin-left: -35px;
        width: 100%;
        .title {
          position: absolute;
          left: 65px;
          top: -70px;
        }
        .information {
          .actors {
            position: absolute;
            top: -3px;
            left: 5px;
          }
        }
      }
    }
    .footer {
      margin-left: 30px;
      width: 73%;
      .footer-select {
        select {
          width: 88%;
          margin-right: 20px;
        }
      }
      .next {
        margin-right: 18px;
      }
      .footer-list {
        margin-left: 3px;
      }
    }
  }
}
